apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: tackle-operator
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tackle-operator
  namespace: system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tackle
      name: tackle-operator
  template:
    metadata:
      labels:
        app: tackle
        name: tackle-operator
        role: tackle-operator
    spec:
      serviceAccountName: tackle-operator
      containers:
      - args:
        - --health-probe-bind-address=:6789
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        - --leader-election-id=tackle-operator
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['olm.targetNamespaces']
        - name: ANSIBLE_GATHERING
          value: explicit
        - name: APP_NAME
          value: tackle
        - name: PROFILE
          value: konveyor
        - name: VERSION
          value: 99.0.0
        - name: RELATED_IMAGE_OAUTH_PROXY
          value: docker.io/openshift/oauth-proxy:latest
        - name: RELATED_IMAGE_TACKLE_HUB
          value: quay.io/konveyor/tackle2-hub:latest
        - name: RELATED_IMAGE_TACKLE_POSTGRES
          value: quay.io/centos7/postgresql-12-centos7:latest
        - name: RELATED_IMAGE_PATHFINDER
          value: quay.io/konveyor/tackle-pathfinder:1.3.1-native
        - name: RELATED_IMAGE_KEYCLOAK_SSO
          value: quay.io/keycloak/keycloak:18.0.2-legacy
        - name: RELATED_IMAGE_KEYCLOAK_INIT
          value: quay.io/konveyor/tackle-keycloak-init:latest
        - name: RELATED_IMAGE_TACKLE_UI
          value: quay.io/konveyor/tackle2-ui:latest
        - name: RELATED_IMAGE_ADDON_ADMIN
          value: quay.io/konveyor/tackle2-addon:latest
        - name: RELATED_IMAGE_ADDON_WINDUP
          value: quay.io/konveyor/tackle2-addon-windup:latest
        name: tackle-operator
        image: controller:latest # this will be replaced with IMG by `make bundle`
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /healthz
            port: 6789
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 6789
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 768Mi
          requests:
            cpu: 10m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
      securityContext:
        runAsNonRoot: true