apiVersion: apps/v1
kind: Deployment
metadata:
  name: tackle-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tackle
      name: tackle-operator
  template:
    metadata:
      labels:
        app: tackle
        name: tackle-operator
        role: tackle-operator
    spec:
      serviceAccountName: tackle-operator
      containers:
      - args:
        - --health-probe-bind-address=:6789
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        - --leader-election-id=tackle-operator
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: ANSIBLE_GATHERING
          value: explicit
        - name: APP_NAME
          value: tackle
        - name: PROFILE
          value: konveyor
        - name: VERSION
          value: {{ .Values.version }}
        - name: RELATED_IMAGE_OAUTH_PROXY
          value: {{ .Values.images.oauth_proxy }}
        - name: RELATED_IMAGE_TACKLE_HUB
          value: {{ .Values.images.tackle_hub }}
        - name: RELATED_IMAGE_TACKLE_POSTGRES
          value: {{ .Values.images.tackle_postgres }}
        - name: RELATED_IMAGE_KEYCLOAK_SSO
          value: {{ .Values.images.keycloak_sso }}
        - name: RELATED_IMAGE_KEYCLOAK_INIT
          value: {{ .Values.images.keycloak_init }}
        - name: RELATED_IMAGE_TACKLE_UI
          value: {{ .Values.images.tackle_ui }}
        - name: RELATED_IMAGE_ADDON_ANALYZER
          value: {{ .Values.images.addon_analyzer }}
        - name: RELATED_IMAGE_ADDON_DISCOVERY
          value: {{ .Values.images.addon_discovery }}
        - name: RELATED_IMAGE_ADDON_PLATFORM
          value: {{ .Values.images.addon_platform }}
        - name: RELATED_IMAGE_PROVIDER_GENERIC
          value: {{ .Values.images.provider_generic }}
        - name: RELATED_IMAGE_PROVIDER_JAVA
          value: {{ .Values.images.provider_java }}
        - name: RELATED_IMAGE_PROVIDER_C_SHARP
          value: {{ .Values.images.provider_c_sharp }}
        - name: RELATED_IMAGE_KANTRA
          value: {{ .Values.images.kantra }}
        - name: RELATED_IMAGE_KAI
          value: {{ .Values.images.kai }}
        - name: RELATED_IMAGE_LLAMA_STACK
          value: {{ .Values.images.llama_stack }}
        name: tackle-operator
        image: {{ .Values.images.operator }}
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /healthz
            port: 6789
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 6789
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: 10m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
      securityContext:
        runAsNonRoot: true
