---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/component: {{ hub_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ hub_seed_configmap_name }}
  namespace: {{ app_namespace }}
data:
  setting.json: |
    [
      { "key": "git.insecure.enabled", "value": "false" },
      { "key": "svn.insecure.enabled", "value": "false" },
      { "key": "mvn.insecure.enabled", "value": "false" },
      { "key": "mvn.dependencies.update.forced", "value": "false" }
    ]
  jobfunction.json: |
    [
      { "id": 1, "role": "Business Analyst" },
      { "id": 2, "role": "Business Service Owner / Manager" },
      { "id": 3, "role": "Consultant" },
      { "id": 4, "role": "DBA" },
      { "id": 5, "role": "Developer / Software Engineer" },
      { "id": 6, "role": "IT Operations" },
      { "id": 7, "role": "Program Manager" },
      { "id": 8, "role": "Project Manager" },
      { "id": 9, "role": "Service Owner" },
      { "id": 10, "role": "Solution Architect" },
      { "id": 11, "role": "System Administrator" },
      { "id": 12, "role": "Test Analyst / Manager" }
    ]
  tagtype.json: |
    [
      { "id": 1, "name": "Application Type", "rank": 6, "color": "#ec7a08" },
      { "id": 2, "name": "Data Center", "rank": 5, "color": "#2b9af3" },
      { "id": 3, "name": "Database", "rank": 4, "color": "#6ec664" },
      { "id": 4, "name": "Language", "rank": 1, "color": "#009596" },
      { "id": 5, "name": "Operating System", "rank": 2, "color": "#a18fff" },
      { "id": 6, "name": "Runtime", "rank": 3, "color": "#7d1007" }
    ]
  tag.json: |
    [
      { "id": 1, "name": "COTS", "tagtypeid": 1 },
      { "id": 2, "name": "In house", "tagtypeid": 1 },
      { "id": 3, "name": "SaaS", "tagtypeid": 1 },
      { "id": 4, "name": "Boston (USA)", "tagtypeid": 2 },
      { "id": 5, "name": "London (UK)", "tagtypeid": 2 },
      { "id": 6, "name": "Paris (FR)", "tagtypeid": 2 },
      { "id": 7, "name": "Sydney (AU)", "tagtypeid": 2 },
      { "id": 8, "name": "DB2", "tagtypeid": 3 },
      { "id": 9, "name": "MongoDB", "tagtypeid": 3 },
      { "id": 10, "name": "Oracle", "tagtypeid": 3 },
      { "id": 11, "name": "PostgreSQL", "tagtypeid": 3 },
      { "id": 12, "name": "SQL Server", "tagtypeid": 3 },
      { "id": 13, "name": "C# ASP .Net", "tagtypeid": 4 },
      { "id": 14, "name": "C++", "tagtypeid": 4 },
      { "id": 15, "name": "COBOL", "tagtypeid": 4 },
      { "id": 16, "name": "Java", "tagtypeid": 4 },
      { "id": 17, "name": "Javascript", "tagtypeid": 4 },
      { "id": 18, "name": "Python", "tagtypeid": 4 },
      { "id": 19, "name": "RHEL 8", "tagtypeid": 5 },
      { "id": 20, "name": "Windows Server 2016", "tagtypeid": 5 },
      { "id": 21, "name": "Z/OS", "tagtypeid": 5 },
      { "id": 22, "name": "EAP", "tagtypeid": 6 },
      { "id": 23, "name": "JWS", "tagtypeid": 6 },
      { "id": 24, "name": "Quarkus", "tagtypeid": 6 },
      { "id": 25, "name": "Spring Boot", "tagtypeid": 6 },
      { "id": 26, "name": "Tomcat", "tagtypeid": 6 },
      { "id": 27, "name": "WebLogic", "tagtypeid": 6 },
      { "id": 28, "name": "WebSphere", "tagtypeid": 6 }
    ]
  proxy.json: |
    [
      {"kind": "http", "host": "", "port": 0},
      {"kind": "https", "host": "", "port": 0}
    ]
