---
kind: Addon
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  name: {{ admin_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ admin_service_name }}
    app.kubernetes.io/component: {{ admin_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  image: {{ admin_fqin }}
  mounts:
  - claim: {{ maven_data_volume_claim_name }}
    name: m2
  resources:
    requests:
      cpu: {{ admin_container_requests_cpu }}
      memory: {{ admin_container_requests_memory }}
