---
kind: Addon
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  name: {{ analyzer_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ analyzer_service_name }}
    app.kubernetes.io/component: {{ analyzer_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  task: {{ analyzer_name }}
  container:
    name: {{ analyzer_component_name }}
    image: {{ analyzer_fqin }}
    imagePullPolicy: {{ image_pull_policy }}
    resources:
      limits:
        cpu: {{ analyzer_container_limits_cpu }}
        memory: {{ analyzer_container_limits_memory }}
      requests:
        cpu: {{ analyzer_container_requests_cpu }}
        memory: {{ analyzer_container_requests_memory }}
---
kind: Task
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  namespace: {{ app_namespace }}
  name: {{ analyzer_name }}
spec:
  priority: 10
  dependencies: [ {{ language_discovery_name }} ]
