---
apiVersion: {{ rhsso_api_version }}
kind: KeycloakUser
metadata:
  name: {{ app_name }}-admin
  namespace: {{ app_namespace }}
spec:
  user:
    username: admin
    enabled: True
    emailVerified: False
    credentials:
      - type: "password"
        value: "password"
    clientRoles:
      account:
        - "view-profile"
        - "manage-account"
{% if keycloak_sso_req_passwd_update|bool %}
    requiredActions:
        - "UPDATE_PASSWORD"
{% endif %}
  realmSelector:
    matchLabels:
      app: {{ rhsso_service_name }}
