---
apiVersion: {{ rhsso_api_version }}
kind: Keycloak
metadata:
  name: {{ rhsso_service_name }}
  namespace: {{ app_namespace }}
  labels:
    app: {{ rhsso_service_name }}
spec:
  DisableDefaultServiceMonitor: true
  instances: {{ rhsso_instances | default('1') }}
  keycloakDeploymentSpec:
    resources:
      limits:
        cpu: {{ keycloak_sso_container_limits_cpu }}
        memory: {{ keycloak_sso_container_limits_memory }}
      requests:
        cpu: {{ keycloak_sso_container_requests_cpu }}
        memory: {{ keycloak_sso_container_requests_memory }}
  externalDatabase:
    enabled: true
  externalAccess:
    enabled: {{ rhsso_external_access }}
