---
apiVersion: {{ rhsso_api_version }}
kind: Keycloak
metadata:
  name: {{ rhsso_service_name }}
  namespace: {{ app_namespace }}
  labels:
    app: {{ rhsso_service_name }}
spec:
  instances: 1
  externalDatabase:
    enabled: true
  externalAccess:
    enabled: {{ rhsso_external_access }}
