---
kind: Addon
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  name: {{ tech_discovery_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ tech_discovery_service_name }}
    app.kubernetes.io/component: {{ tech_discovery_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  task: {{ tech_discovery_name }}
  container:
    name: {{ tech_discovery_component_name }}
    image: {{ tech_discovery_fqin }}
    imagePullPolicy: {{ image_pull_policy }}
    resources:
      limits:
        cpu: {{ tech_discovery_container_limits_cpu }}
        memory: {{ tech_discovery_container_limits_memory }}
      requests:
        cpu: {{ tech_discovery_container_requests_cpu }}
        memory: {{ tech_discovery_container_requests_memory }}
---
kind: Extension
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  name: {{ tech_discovery_provider_java_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ provider_java_service_name }}
    app.kubernetes.io/component: {{ provider_java_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  addon: {{ tech_discovery_name }}
  selector: tag:Language=Java || !tag:Language
  container:
    name: {{ provider_java_name }}
    image: {{ provider_java_image_fqin }}
    imagePullPolicy: {{ image_pull_policy }}
    args:
    - --port
    - $(PORT)
    env:
    - name: PORT
      value: ${seq:8000}
    - name: M2_HOME
      value: {{ cache_mount_path }}/m2
    resources:
      limits:
        cpu: {{ provider_java_container_limits_cpu }}
        memory: {{ provider_java_container_limits_memory }}
      requests:
        cpu: {{ provider_java_container_requests_cpu }}
        memory: {{ provider_java_container_requests_memory }}
  metadata:
    resources:
    - selector: identity:kind=maven
      fields:
      - name: settings
        path: /shared/creds/maven/settings.xml
        key: maven.settings.path
    provider:
      name: {{ provider_java_name }}
      address: localhost:$(PORT)
      initConfig:
      - providerSpecificConfig:
          bundles: /jdtls/java-analyzer-bundle/java-analyzer-bundle.core/target/java-analyzer-bundle.core-1.0.0-SNAPSHOT.jar
          depOpenSourceLabelsFile: /usr/local/etc/maven.default.index
          lspServerPath: /jdtls/bin/jdtls
          mavenSettingsFile: $(maven.settings.path)
---
kind: Extension
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  name: {{ tech_discovery_provider_generic_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ provider_generic_service_name }}
    app.kubernetes.io/component: {{ provider_generic_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  addon: {{ tech_discovery_name }}
  selector: tag:Language=Golang || tag:Language=Python
  container:
    name: {{ provider_generic_name }}
    image: {{ provider_generic_image_fqin }}
    imagePullPolicy: {{ image_pull_policy }}
    args:
    - --port
    - $(PORT)
    env:
    - name: PORT
      value: ${seq:8000}
    resources:
      limits:
        cpu: {{ provider_generic_container_limits_cpu }}
        memory: {{ provider_generic_container_limits_memory }}
      requests:
        cpu: {{ provider_generic_container_requests_cpu }}
        memory: {{ provider_generic_container_requests_memory }}
  metadata:
    provider:
      name: {{ provider_generic_name }}
      address: localhost:$(PORT)
      initConfig:
---
kind: Task
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  namespace: {{ app_namespace }}
  name: {{ tech_discovery_name }}
  labels:
    konveyor.io/discovery: "technology"
spec:
  dependencies: [ {{ language_discovery_name }} ]
  data:
    mode:
      discovery: true
    tagger:
      enabled: true
      source: tech-discovery
    rules:
      labels:
        included: ["discovery"]
