---
apiVersion: tackle.konveyor.io/v1alpha1
kind: IdentityProvider
metadata:
  name: keycloak
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: keycloak
    app.kubernetes.io/component: identity-provider
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  name: keycloak
  issuer: ${issuer.proto}://${issuer.host}/auth/realms/{{ app_name }}
  tls:
    insecure: true
  clientId: {{ app_name }}-ui
  redirectURI: ${issuer.proto}://${issuer.host}/oidc/idp/callback
  scopes:
  - openid
  - profile
  - email
