---
kind: Addon
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  name: {{ windup_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ windup_service_name }}
    app.kubernetes.io/component: {{ windup_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  image: {{ windup_fqin }}
  imagePullPolicy: {{ image_pull_policy }}
  resources:
    limits:
      cpu: {{ windup_container_limits_cpu }}
      memory: {{ windup_container_limits_memory }}
    requests:
      cpu: {{ windup_container_requests_cpu }}
      memory: {{ windup_container_requests_memory }}
