---
kind: Addon
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  name: {{ platform_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ platform_service_name }}
    app.kubernetes.io/component: {{ platform_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  tasks:
  - {{ application_import }}
  - {{ application_manifest }}
  - {{ asset_generation }}
  container:
    name: {{ platform_component_name }}
    image: {{ platform_fqin }}
    imagePullPolicy: {{ image_pull_policy }}
    resources:
      limits:
        cpu: {{ platform_container_limits_cpu }}
        memory: {{ platform_container_limits_memory }}
      requests:
        cpu: {{ platform_container_requests_cpu }}
        memory: {{ platform_container_requests_memory }}

---
kind: Task
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  namespace: {{ app_namespace }}
  name: {{ application_import }}
spec:
  data:
    action: import

---
kind: Task
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  namespace: {{ app_namespace }}
  name: {{ application_manifest }}
spec:
  data:
    action: fetch

---
kind: Task
apiVersion: tackle.konveyor.io/v1alpha1
metadata:
  namespace: {{ app_namespace }}
  name: {{ asset_generation }}
spec:
  data:
    action: generate

