---
kind: Addon
apiVersion: tackle.konveyor.io/v1alpha2
metadata:
  name: {{ language_discovery_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ language_discovery_service_name }}
    app.kubernetes.io/component: {{ language_discovery_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  task: {{ language_discovery_name }}
  container:
    name: {{ language_discovery_component_name }}
    image: {{ language_discovery_fqin }}
    imagePullPolicy: {{ image_pull_policy }}
    resources:
      limits:
        cpu: {{ language_discovery_container_limits_cpu }}
        memory: {{ language_discovery_container_limits_memory }}
      requests:
        cpu: {{ language_discovery_container_requests_cpu }}
        memory: {{ language_discovery_container_requests_memory }}
---
kind: Task
apiVersion: tackle.konveyor.io/v1alpha2
metadata:
  namespace: {{ app_namespace }}
  name: {{ language_discovery_name }}
  labels:
    konveyor.io/discovery: "language"
spec:
  priority: 10
  data:
    source: language-discovery