---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ keycloak_sso_deployment_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ keycloak_sso_service_name }}
    app.kubernetes.io/component: {{ keycloak_sso_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  annotations:
    app.openshift.io/connects-to: >-
      [
        { "apiVersion": "apps/v1", "kind": "Deployment", "name": "{{ keycloak_database_deployment_name }}" }
      ]

spec:
  replicas: {{ keycloak_sso_deployment_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ keycloak_sso_service_name }}
      app.kubernetes.io/component: {{ keycloak_sso_component_name }}
      app.kubernetes.io/part-of: {{ app_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ keycloak_sso_service_name }}
        app.kubernetes.io/component: {{ keycloak_sso_component_name }}
        app.kubernetes.io/part-of: {{ app_name }}
    spec:
      initContainers:
        - name: keycloak-theme
          image: quay.io/konveyor/tackle-keycloak-init:1.2.0
          volumeMounts:
            - name: {{ keycloak_sso_service_name }}-theme
              mountPath: /deployments
      containers:
        - name: {{ keycloak_sso_container_name }}
          image: "{{ keycloak_sso_image_fqin }}"
          imagePullPolicy: "{{ image_pull_policy }}"
          args: {{ keycloak_sso_container_args }}
          env:
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: {{ keycloak_sso_secret_name }}
                  key: admin-username
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ keycloak_sso_secret_name }}
                  key: admin-password
            - name: KC_HOSTNAME
              value: {{ keycloak_sso_host }}
{% if keycloak_sso_container_http_enabled|bool %}
            - name: KC_HTTP_ENABLED
              value: 'true'
{% endif %}
            - name: KC_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ keycloak_database_secret_name }}
                  key: database-user
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ keycloak_database_secret_name }}
                  key: database-password
            - name: KC_DB_URL
              value: {{ keycloak_sso_db_url }}
            - name: KC_PROXY
              value: {{ keycloak_sso_proxy_mode }}
            - name: KC_REALM_CONFIG
              value: {{ keycloak_sso_realm_file_name }}
            - name: JAVA_OPTS_APPEND
              value: {{ keycloak_sso_java_opts }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: https
              containerPort: 8443
              protocol: TCP
          resources:
            limits:
              cpu: {{ keycloak_sso_container_limits_cpu }}
              memory: {{ keycloak_sso_container_limits_memory }}
            requests:
              cpu: {{ keycloak_sso_container_requests_cpu }}
              memory: {{ keycloak_sso_container_requests_memory }}
          livenessProbe:
            httpGet:
              path: /health/live
              port: 8080
              scheme: HTTP
            initialDelaySeconds: {{ keycloak_sso_liveness_init_delay }}
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 20
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: {{ keycloak_sso_readiness_init_delay }}
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 20
          volumeMounts:
            - name: {{ keycloak_sso_service_name }}-config
              mountPath: {{ keycloak_sso_import_path }}
            - name: {{ keycloak_sso_service_name }}-theme
              mountPath: /opt/jboss/keycloak/standalone/deployments
      volumes:
        - name: {{ keycloak_sso_service_name }}-config
          configMap:
            name: {{ keycloak_sso_configmap_name }}
            defaultMode: 420
        - name: {{ keycloak_sso_service_name }}-theme
          emptyDir: {}
