---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ pathfinder_deployment_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ pathfinder_service_name }}
    app.kubernetes.io/component: {{ pathfinder_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  annotations:
    app.openshift.io/connects-to: >-
      [
{% if feature_auth_required|bool %}
{% if app_profile == 'konveyor' %}
        { "apiVersion": "apps/v1", "kind": "Deployment", "name": "{{ keycloak_sso_deployment_name }}" },
{% elif app_profile == 'mta' %}
        { "apiVersion": "apps/v1", "kind": "StatefulSet", "name": "keycloak" },
{% endif %}
{% endif %}
        { "apiVersion": "apps/v1", "kind": "Deployment", "name": "{{ pathfinder_database_deployment_name }}" }
      ]
    prometheus.io/path: /q/metrics
    prometheus.io/port: '8080'
    prometheus.io/scheme: http
    prometheus.io/scrape: 'true'
spec:
  replicas: {{ pathfinder_deployment_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ pathfinder_service_name }}
      app.kubernetes.io/component: {{ pathfinder_component_name }}
      app.kubernetes.io/part-of: {{ app_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ pathfinder_service_name }}
        app.kubernetes.io/component: {{ pathfinder_component_name }}
        app.kubernetes.io/part-of: {{ app_name }}
        app: {{ app_name }}
        role: {{ pathfinder_service_name }}
      annotations:
        prometheus.io/path: /q/metrics
        prometheus.io/port: '8080'
        prometheus.io/scheme: http
        prometheus.io/scrape: 'true'
    spec:
      containers:
        - name: {{ pathfinder_container_name }}
          image: "{{ pathfinder_image_fqin }}"
          imagePullPolicy: "{{ image_pull_policy }}"
          env:
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: QUARKUS_DATASOURCE_JDBC_URL
              value: jdbc:postgresql://{{ pathfinder_database_service_name }}:5432/{{ pathfinder_database_db_name }}
            - name: QUARKUS_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ pathfinder_database_secret_name }}
                  key: database-user
            - name: QUARKUS_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ pathfinder_database_secret_name }}
                  key: database-password
{% if feature_auth_required|bool %}
{% if app_profile == 'mta' %}
            - name: QUARKUS_OIDC_AUTH_SERVER_URL
              value: {{ rhsso_url }}/auth/realms/{{ keycloak_sso_realm }}
{% else %}
            - name: QUARKUS_OIDC_AUTH_SERVER_URL
              value: {{ keycloak_sso_url }}/auth/realms/{{ keycloak_sso_realm }}
{% endif %}
{% else %}
            - name: QUARKUS_PROFILE
              value: noauth
{% endif %}
          ports:
            - name: {{ pathfinder_proto }}
              containerPort: {{ pathfinder_port }}
              protocol: TCP
          resources:
            limits:
              cpu: {{ pathfinder_container_limits_cpu }}
              memory: {{ pathfinder_container_limits_memory }}
            requests:
              cpu: {{ pathfinder_container_requests_cpu }}
              memory: {{ pathfinder_container_requests_memory }}
          livenessProbe:
            httpGet:
              path: /pathfinder/q/health/live
              port: {{ pathfinder_port }}
              scheme: {{ pathfinder_proto|upper }}
            initialDelaySeconds: 60
            timeoutSeconds: 10
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /pathfinder/q/health/ready
              port: {{ pathfinder_port }}
              scheme: {{ pathfinder_proto|upper }}
            timeoutSeconds: 10
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 3
