---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ app_name }}-ingress
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}
spec:
  podSelector: {}
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: {{ app_namespace }}
