---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ app_name }}-deny-all
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}
spec:
  podSelector: {}
  policyTypes:
  - Ingress
---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ app_name }}-namespace
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}
spec:
  podSelector: {}
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: {{ app_namespace }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ app_name }}-external
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}
spec:
  podSelector:
    matchLabels:
      role: {{ ui_service_name }}
  ingress:
  - ports:
    - port: 8080
    - port: 8443
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ app_name }}-metrics
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}
spec:
  podSelector:
    matchLabels:
      role: {{ hub_service_name }}
    ingress:
    - ports:
      - port: {{ hub_metrics_port }}