---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ hub_bucket_volume_claim_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ hub_service_name }}
    app.kubernetes.io/component: {{ hub_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
    volume: {{ hub_bucket_volume_name }}
spec:
  accessModes:
    - {{ hub_bucket_volume_claim_mode }}
  resources:
    requests:
      storage: {{ hub_bucket_volume_size }}
{% if hub_bucket_storage_class is defined %}
{% if hub_bucket_storage_class|length %}
  storageClassName: {{ hub_bucket_storage_class }}
{% endif %}
{% endif %}
