---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pathfinder_database_data_volume_claim_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ pathfinder_database_service_name }}
    app.kubernetes.io/component: {{ pathfinder_database_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ pathfinder_database_data_volume_size }}
{% if pathfinder_database_data_volume_claim_storageclass is defined %}
{% if pathfinder_database_data_volume_claim_storageclass|length %}
  storageClassName: {{ pathfinder_database_data_volume_claim_storageclass }}
{% else %}
  storageClassName: ""
{% endif %}
{% endif %}
