---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ hub_database_volume_claim_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ hub_service_name }}
    app.kubernetes.io/component: {{ hub_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
    volume: {{ hub_database_volume_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ hub_database_volume_size }}
{% if rwo_storage_class is defined %}
{% if rwo_storage_class|length %}
  storageClassName: {{ rwo_storage_class }}
{% endif %}
{% endif %}
