---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ hub_bucket_volume_claim_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ hub_service_name }}
    app.kubernetes.io/component: {{ hub_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ hub_bucket_volume_size }}
{% if rwx_storage_class is defined %}
{% if rwx_storage_class|length %}
  storageClassName: {{ rwx_storage_class }}
{% else %}
  storageClassName: ""
{% endif %}
{% endif %}
