---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ cache_data_volume_claim_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ cache_name }}
    app.kubernetes.io/part-of: {{ app_name }}
    volume: {{ cache_data_volume_name }}
spec:
  accessModes:
    - "{{ cache_data_volume_claim_mode }}"
  resources:
    requests:
      storage: {{ cache_data_volume_size }}
{% if cache_storage_class is defined %}
{% if cache_storage_class|length %}
  storageClassName: {{ cache_storage_class }}
{% endif %}
{% endif %}
