---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ ui_route_name }}
  namespace: {{ app_namespace }}
  annotations:
    haproxy.router.openshift.io/timeout: 300s
  labels:
    app.kubernetes.io/name: {{ ui_service_name }}
    app.kubernetes.io/component: route
    app.kubernetes.io/part-of: {{ app_name }}
    app: {{ app_name }}
spec:
  to:
    kind: Service
    name: {{ ui_service_name }}
  tls:
{% if feature_auth_required|bool and feature_auth_type == "oauth" %}
    termination: reencrypt
{% else %}
    termination: {{ ui_route_tls_termination }}
{% endif %}
    insecureEdgeTerminationPolicy: {{ ui_route_tls_insecure_termination_policy }}
