apiVersion: v1
data:
  POSTGRES_DATABASE: {{ rhsso_db_name_b64 }} 
  POSTGRES_EXTERNAL_ADDRESS: {{ rhsso_db_host_b64 }}
  POSTGRES_HOST:
  POSTGRES_PASSWORD: {{ rhsso_db_pass_b64 }}
  POSTGRES_USERNAME: {{ rhsso_db_user_b64 }}
  POSTGRES_SUPERUSER: {{ "true" | b64encode }}
  SSLMODE: {{ "prefer" | b64encode }}
kind: Secret
metadata:
  labels:
    app: keycloak
    app.kubernetes.io/name: {{ keycloak_sso_service_name }}
    app.kubernetes.io/component: {{ keycloak_sso_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: keycloak-db-secret
  namespace: {{ app_namespace }}
type: Opaque
