kind: Secret
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: {{ keycloak_sso_service_name }}
    app.kubernetes.io/component: {{ keycloak_sso_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ keycloak_sso_secret_name }}
  namespace: {{ app_namespace }}
type: Opaque
data:
  admin-username: {{ keycloak_sso_admin_username_b64 }}
  admin-password: {{ keycloak_sso_admin_password_b64 }}
