kind: Secret
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: {{ keycloak_sso_service_name }}
    app.kubernetes.io/component: {{ keycloak_sso_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: cookie-secret
  namespace: {{ app_namespace }}
type: Opaque
data:
  cookie-secret: {{ new_cookie_secret | b64encode }}
