kind: Secret
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: {{ keycloak_database_service_name }}
    app.kubernetes.io/component: {{ keycloak_database_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ keycloak_database_secret_name }}
  namespace: {{ app_namespace }}
type: Opaque
data:
  database-name: {{ keycloak_database_db_name_b64 }}
  database-user: {{ keycloak_database_db_username_b64 }}
  database-password: {{ keycloak_database_db_password_b64 }}
