kind: Secret
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: {{ hub_service_name }}
    app.kubernetes.io/component: {{ hub_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ hub_secret_name }}
  namespace: {{ app_namespace }}
type: Opaque
data:
  passphrase: {{ hub_aes_passphrase_b64 }}
  addon_token: {{ hub_addon_token_b64 }}
