kind: Secret
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: {{ keycloak_service_name }}
    app.kubernetes.io/component: {{ keycloak_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ keycloak_secret_name }}
  namespace: {{ app_namespace }}
type: Opaque
data:
  admin-username: {{ keycloak_admin_username_b64 }}
  admin-password: {{ keycloak_admin_password_b64 }}
