---
apiVersion: v1
kind: Service
metadata:
{% if pathfinder_tls_enabled|bool and openshift_cluster|bool %}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ pathfinder_tls_secret_name }}
{% endif %}
  labels:
    app.kubernetes.io/name: {{ pathfinder_service_name }}
    app.kubernetes.io/component: {{ pathfinder_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ pathfinder_service_name }}
  namespace: {{ app_namespace }}
spec:
  ports:
    - name: api
      port: {{ pathfinder_port }}
      targetPort: {{ pathfinder_port }}
      protocol: TCP
  selector:
    app.kubernetes.io/name: {{ pathfinder_service_name }}
    app.kubernetes.io/component: {{ pathfinder_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  type: ClusterIP
