---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ hub_tls_secret_name }}
  labels:
    app.kubernetes.io/name: {{ hub_service_name }}
    app.kubernetes.io/component: {{ hub_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ hub_service_name }}
  namespace: {{ app_namespace }}
spec:
  ports:
{% if hub_tls_enabled|bool %}
    - name: api-https
      port: 8443
      targetPort: 8443
      protocol: TCP
{% else %}
    - name: api-http
      port: 8080
      targetPort: 8080
      protocol: TCP
{% endif %}
  selector:
    app.kubernetes.io/name: {{ hub_service_name }}
    app.kubernetes.io/component: {{ hub_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  type: ClusterIP
