---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: {{ keycloak_database_service_name }}
    app.kubernetes.io/component: {{ keycloak_database_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ keycloak_database_service_k8s_resource_name }}
  namespace: {{ app_namespace }}
spec:
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app.kubernetes.io/name: {{ keycloak_database_service_name }}
    app.kubernetes.io/component: {{ keycloak_database_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
