---
apiVersion: v1
kind: Service
metadata:
{% if keycloak_sso_tls_enabled|bool and openshift_cluster|bool %}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ rhbk_tls_secret_name }}
{% endif %}
  name: {{ rhbk_service_name  }}-service
  namespace: {{ app_namespace }}
