apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ ui_serviceaccount_name }}
  namespace: {{ app_namespace }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ ui_route_name }}"}}'
