---
apiVersion: v1
kind: Service
metadata:
{% if hub_tls_enabled|bool and openshift_cluster|bool %}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ hub_tls_secret_name }}
{% endif %}
  labels:
    app.kubernetes.io/name: {{ hub_service_name }}
    app.kubernetes.io/component: {{ hub_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ hub_service_name }}
  namespace: {{ app_namespace }}
spec:
  ports:
    - name: api
      port: {{ hub_port }}
      targetPort: {{ hub_port }}
      protocol: TCP
    - name: metrics
      port: {{ hub_metrics_port }}
      targetPort: {{ hub_metrics_port }}
      protocol: TCP
  selector:
    app.kubernetes.io/name: {{ hub_service_name }}
    app.kubernetes.io/component: {{ hub_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  type: ClusterIP
