---
apiVersion: v1
kind: Service
metadata:
{% if keycloak_sso_tls_enabled|bool and openshift_cluster|bool %}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ keycloak_sso_tls_secret_name }}
{% endif %}
  labels:
    app.kubernetes.io/name: {{ keycloak_sso_service_name }}
    app.kubernetes.io/component: {{ keycloak_sso_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ keycloak_sso_service_name }}
  namespace: {{ app_namespace }}
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: https
      port: 8443
      targetPort: 8443
      protocol: TCP
  selector:
    app.kubernetes.io/name: {{ keycloak_sso_service_name }}
    app.kubernetes.io/component: {{ keycloak_sso_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  type: ClusterIP
