---
# Based on agent-sandbox v1.0.0 sandbox-with-extensions.yaml.
apiVersion: v1
kind: Service
metadata:
  name: {{ agent_sandbox_component_name }}
  namespace: "{{ app_namespace }}"
  annotations:
    tackle.konveyor.io/agent-sandbox-owner: "{{ agent_sandbox_owner }}"
  labels:
    app.kubernetes.io/name: {{ agent_sandbox_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  ports:
    - name: metrics
      port: 8080
      protocol: TCP
      targetPort: metrics
  selector:
    app.kubernetes.io/name: {{ agent_sandbox_component_name }}
