---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - operator.openshift.io
  resources:
  - dnses
  verbs:
  - list
  - get
- apiGroups:
  - config.openshift.io
  resources:
  - clusterversions
  - proxies
  verbs:
  - get
- apiGroups:
  - keycloak.org
  resources:
  - keycloaks
  - keycloakrealms
  - keycloakclients
  - keycloakusers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
#+kubebuilder:scaffold:rules
