---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ kai_database_volume_claim_name }}"
  namespace: "{{ app_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ kai_database_volume_size }}"
