---
apiVersion: v1
kind: Service
metadata:
  name: "{{ kai_service_name }}"
  namespace: "{{ app_namespace }}"
spec:
  selector:
    app: kai-api
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
