---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kai-api
  namespace: "{{ app_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kai-api
  template:
    metadata:
      labels:
        app: kai-api
    spec:
      containers:
        - name: kai-solution-server
          image: "{{ kai_fqin }}"
          ports:
            - containerPort: 8000
          env:
            - name: MOUNT_PATH
              value: /api
            - name: KAI_LLM_PARAMS
              value: '{{ kai_llm_params | to_json }}'
{% if kai_solution_server_enabled|bool %}
            - name: KAI_DB_DSN
              value: 'postgresql+asyncpg://kai:{{ pg_password }}@{{ kai_database_address }}:5432/kai'
{% endif %}
{% if kai_api_key_secret_status.resources | length > 0 %}
{% for (key, value) in kai_api_key_secret_status.resources.0.data.items() %}
            - name: {{ key }}
              valueFrom:
                secretKeyRef:
                  name: "{{ kai_api_key_secret_name }}"
                  key: {{ key }}
{% endfor %}
{% endif %}
