---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kai-hub-importer
  namespace: "{{ app_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kai-hub-importer
  template:
    metadata:
      labels:
        app: kai-hub-importer
    spec:
      containers:
        - name: kai-hub-importer
          image: "{{ kai_fqin }}"
          env:
            - name: POSTGRESQL_HOST
              valueFrom:
                secretKeyRef:
                  name: "{{ kai_database_secret_name }}"
                  key: POSTGRESQL_HOST
            - name: POSTGRESQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: "{{ kai_database_secret_name }}"
                  key: POSTGRESQL_DB
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ kai_database_secret_name }}"
                  key: POSTGRESQL_PASSWORD
            - name: POSTGRESQL_USER
              valueFrom:
                secretKeyRef:
                  name: "{{ kai_database_secret_name }}"
                  key: POSTGRESQL_USER
            - name: DEMO_MODE
              value: "{{ kai_enable_demo_mode }}"
            - name: HUB_URL
              value: "{{ hub_url }}"
            - name: IMPORTER_ARGS
              value: "{{ kai_hub_importer_args }}"
            - name: LOGLEVEL
              value: "{{ kai_log_level }}"
            - name: NUM_WORKERS
              value: "8"
            - name: USE_HUB_IMPORTER
              value: "True"
            - name: MODE
              value: "importer"
            - name: JWT
              valueFrom:
                secretKeyRef:
                  name: "{{ kai_jwt_secret_name }}"
                  key: jwt
{% if kai_api_key_secret_status.resources.0.data[kai_bam_secret_key]|default(false) %}
            - name: GENAI_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ kai_api_key_secret_name }}"
                  key: "{{ kai_bam_secret_key }}"
{% endif %}
{% if kai_api_key_secret_status.resources.0.data[kai_openai_secret_base_key]|default(false) %}
            - name: OPENAI_API_BASE
              valueFrom:
                secretKeyRef:
                  name: "{{ kai_api_key_secret_name }}"
                  key: "{{ kai_openai_secret_base_key }}"
{% endif %}
{% if kai_api_key_secret_status.resources.0.data[kai_openai_secret_api_key]|default(false) %}
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ kai_api_key_secret_name }}"
                  key: "{{ kai_openai_secret_api_key }}"
{% endif %}
          volumeMounts:
            - name: config-volume
              mountPath: /podman_compose/kai-config.toml
              subPath: kai-config.toml
      volumes:
        - name: config-volume
          configMap:
            name: "kai-config"
