---
apiVersion: v1
kind: Service
metadata:
  name: llm-proxy
  namespace: "{{ app_namespace }}"
  labels:
    app.kubernetes.io/name: llm-proxy
    app.kubernetes.io/component: kai
    app.kubernetes.io/part-of: tackle
spec:
  type: ClusterIP
  selector:
    app: llm-proxy
  ports:
    - name: http
      port: 8321
      targetPort: 8321
      protocol: TCP