version: "99.0.0"

# true in the case we want to render manifests for OLM stuff
olm: false
csv:
  replaces: ""
#   replaces: konveyor-operator.v0.3.0-beta.1.1
  skips: []
#   skips:
#     - konveyor-operator.v0.3.0-beta.1
#     - konveyor-operator.v0.3.0-beta.1.1

images:
  operator: quay.io/konveyor/tackle2-operator:latest
  oauth_proxy: quay.io/openshift/origin-oauth-proxy:latest
  tackle_hub: quay.io/konveyor/tackle2-hub:latest
  tackle_postgres: quay.io/sclorg/postgresql-15-c9s:latest
  keycloak_sso: quay.io/keycloak/keycloak:18.0.2-legacy
  keycloak_init: quay.io/konveyor/tackle-keycloak-init:latest
  tackle_ui: quay.io/konveyor/tackle2-ui:latest
  addon_analyzer: quay.io/konveyor/tackle2-addon-analyzer:latest
  addon_discovery: quay.io/konveyor/tackle2-addon-discovery:latest
  provider_generic: quay.io/konveyor/generic-external-provider:latest
  provider_java: quay.io/konveyor/java-external-provider:latest
  kai: quay.io/konveyor/kai:latest
