name: Ansible Lint

on:
  pull_request:
    branches:
    - main
    - 'v-*.*.*'
    paths:
    - 'roles/**'
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Ansible Lint
        uses: ansible/ansible-lint-action@main
        with:
          path: "roles/"
