name: Create Release and Publish to Community Operators

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The semantic version of the release (e.g. v1.2.3)'
        required: true
      previous_version:
        description: 'The semantic version of the previous release (e.g. v1.2.2)'
        required: false
        type: string
      branch:
        description: 'The branch to create the release from (defaults to main)'
        required: false
        default: 'main'
      operator_channel:
        description: 'Channel to publish the new operator to'
        required: true
        type: string
      github_name:
        description: 'Your full name'
        required: true
        type: string
      github_email:
        description: 'Your e-mail address'
        required: true
        type: string


jobs:
  # TODO(djzager): This is where we would want to do some integration testing
  # test:
  #   ...
  # might consider creating "rc" releases, building and testing those before
  # publishing a release.
  release-components:
    strategy:
      matrix:
        repository:
          - konveyor/tackle2-hub
          - konveyor/tackle2-ui
          - konveyor/tackle2-addon
          - konveyor/tackle2-addon-windup
          - konveyor/tackle2-operator
    uses: konveyor/release-tools/.github/workflows/create-release.yml@main
    with:
      version: ${{ inputs.version }}
      repository: ${{ matrix.repository }}
      ref: ${{ inputs.branch }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}
      # TODO(djzager) Next we'll need to force the multi-arch build steps to run

  wait-for-images:
    runs-on: ubuntu-20.04
    needs: release-components
    strategy:
      matrix:
        image:
          - konveyor/tackle2-hub
          - konveyor/tackle2-ui
          - konveyor/tackle2-addon
          - konveyor/tackle2-addon-windup
          - konveyor/tackle2-operator
    steps:
      - name: Pull the image
        run: |
          #!/bin/bash
          while ! docker pull quay.io/${{ matrix.image }}:${{ inputs.version }} &> /dev/null; do
              sleep 3m
          done
          docker image inspect quay.io/${{ matrix.image }}:${{ inputs.version }}

  publish:
    name: Build and Push Manifest
    needs: wait-for-images
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    steps:
    - name: Checkout Push to Registry action
      uses: actions/checkout@main

    - name: Run migrations
      run: bash ./tools/konveyor-operator-publish-commands.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        GITHUB_USER: ${{ secrets.GH_USER }}
        QUAY_ROBOT: ${{ secrets.QUAY_PUBLISH_ROBOT }}
        QUAY_TOKEN: ${{ secrets.QUAY_PUBLISH_TOKEN }}
        OPERATOR_SEMVER: ${{ inputs.version }}
        OPERATOR_CHANNEL: ${{ inputs.operator_channel }}
        PREV_OPERATOR_SEMVER: ${{ inputs.previous_version }}
        GITHUB_NAME: ${{ inputs.github_name }}
        GITHUB_EMAIL: ${{ inputs.github_email }}
