name: 'Build and Push Multi-Arch Image'

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'release-*'
    tags:
      - 'v*'

concurrency:
  group: march-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  push-quay:
    name: Build and Push Manifest
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    steps:
    - name: Build Operator Container
      uses: konveyor/release-tools/build-push-quay@main
      with:
        architectures: "amd64, arm64, ppc64le, s390x"
        containerfile: "./Dockerfile"
        image_name: "tackle2-operator"
        image_namespace: "konveyor"
        image_registry: "quay.io"
        quay_publish_robot: ${{ secrets.QUAY_PUBLISH_ROBOT }}
        quay_publish_token: ${{ secrets.QUAY_PUBLISH_TOKEN }}
        ref: ${{ github.ref }}

    - name: Build Operator Bundle
      uses: konveyor/release-tools/build-push-quay@main
      with:
        architectures: "amd64"
        containerfile: "./bundle.Dockerfile"
        image_name: "tackle2-operator-bundle"
        image_namespace: "konveyor"
        image_registry: "quay.io"
        quay_publish_robot: ${{ secrets.QUAY_PUBLISH_ROBOT }}
        quay_publish_token: ${{ secrets.QUAY_PUBLISH_TOKEN }}
        ref: ${{ github.ref }}

    - name: Checkout PR branch
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Build index
      run: |
        CONTAINER_RUNTIME=podman \
        CATALOG_IMG=quay.io/konveyor/tackle2-operator-index:latest \
        BUNDLE_IMG=quay.io/konveyor/tackle2-operator-bundle:latest \
        make catalog-build
      if: ${{ github.ref == 'refs/heads/main' }}

    - name: Push index
      run: podman push quay.io/konveyor/tackle2-operator-index:latest --creds=${{ secrets.QUAY_PUBLISH_ROBOT }}:${{ secrets.QUAY_PUBLISH_TOKEN }}
      if: ${{ github.ref == 'refs/heads/main' }}
