name: Pull Request CI

on:
  pull_request:
    branches:
      - main
      - 'release-*.*'

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      roles: ${{ steps.filter.outputs.roles }}
    steps:
    # For pull requests it's not necessary to checkout the code
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          roles:
            - 'roles/**'

  ansible-lint:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.roles == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4
      - name: Ansible Lint
        uses: ansible/ansible-lint@main
        with:
          working_directory: "roles/"
          setup_python: "false"

  build-operator-bundle:
    needs: detect-changes
    runs-on: ubuntu-latest
    env:
      IMG: ttl.sh/konveyor-operator-${{ github.sha }}:2h
      BUNDLE_IMG: ttl.sh/konveyor-operator-bundle-${{ github.sha }}:2h
    steps:
    - uses: actions/checkout@v4
    - run: make docker-build docker-push
    - run: make bundle bundle-build bundle-push


  run-ci:
    needs: build-operator-bundle
    uses: konveyor/ci/.github/workflows/global-ci-bundle.yml@main
    with:
      operator_bundle: ttl.sh/konveyor-operator-bundle-${{ github.sha }}:2h
      tackle_cr: '{"kind":"Tackle","apiVersion":"tackle.konveyor.io/v1alpha1","metadata":{"name":"tackle"},"spec":{"image_pull_policy":"IfNotPresent","analyzer_container_memory":0,"analyzer_container_cpu":0,"feature_auth_required":false,"provider_java_image_fqin":"quay.io/konveyor/java-external-provider:release-0.8"}}'
      api_hub_tests_ref: release-0.8
      api_tests_ref: release-0.8
